## Metadata

In [84]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_colwidth', 500)

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [85]:
import sys
sys.path.append('..')

In [114]:
from canadadata.statscan import DatasetMetadata
import glob

metadata_files = [pd.read_csv(f) for f in list(glob.glob('../data/cache/*MetaData.csv'))]

In [115]:
metadata0 = DatasetMetadata(metadata_files[5])

In [116]:
metadata0.cube_info

,Product Id,CANSIM Id,URL,Cube Notes,Archive Status,Frequency,Start Reference Period,End Reference Period,Total number of dimensions
Cube Title,,,,,,,,,
"Life expectancy and other elements of the life table, Canada and provinces",39100007,053-0003,https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3910000701,12;13,ARCHIVED - a cube publicly available but no longer being updated,Annual,1980-01-01,2013-01-01,4.0

In [117]:
metadata0.survey

                                   Survey Name
Survey Code
3233         Vital Statistics - Death Database

In [118]:
metadata0.dimensions

,Dimension name,Dimension Notes,Dimension Definitions
Dimension ID,,,
1,Geography,NaN,NaN
2,Age group,"The major visual difference between the complete and abridged life tables lies in the age groupings for which the estimates have been produced. In complete life tables, there is only one age value per row, which indicates the exact age for the number of survivors, the cumulative number of life years lived and the life expectancy. For the number of deaths, death and survival probabilities, as well as the number of life years lived, the interval in the life table represents the interval betwee...",NaN
3,Sex,NaN,NaN
4,Element,NaN,NaN

In [119]:
metadata0.dimension_details

,Member Name,Classification Code,Member ID,Parent Member ID,Terminated,Member Notes,Member Definitions
Dimension ID,,,,,,,
1,Canada,11124,1,NaN,NaN,NaN,NaN
1,Newfoundland and Labrador,10,2,1,NaN,NaN,NaN
1,Prince Edward Island,11,3,1,NaN,NaN,NaN
1,Nova Scotia,12,4,1,NaN,NaN,NaN
1,New Brunswick,13,5,1,NaN,NaN,NaN
1,Quebec,24,6,1,NaN,NaN,NaN
1,Ontario,35,7,1,NaN,NaN,NaN
1,Manitoba,46,8,1,NaN,NaN,NaN
1,Saskatchewan,47,9,1,NaN,NaN,NaN
1,Alberta,48,10,1,NaN,NaN,NaN
1,British Columbia,59,11,1,NaN,NaN,NaN
1,Yukon,60,12,1,NaN,NaN,NaN
1,Northwest Territories,61,13,1,NaN,NaN,NaN
1,Nunavut,62,14,1,NaN,NaN,NaN
2,0 year,NaN,1,NaN,NaN,NaN,NaN
2,1 to 4 years,NaN,2,NaN,NaN,NaN,NaN
2,1 year,NaN,3,2,NaN,NaN,NaN
2,2 years,NaN,4,2,NaN,NaN,NaN
2,3 years,NaN,5,2,NaN,NaN,NaN
2,4 years,NaN,6,2,NaN,NaN,NaN
2,5 to 9 years,NaN,7,NaN,NaN,NaN,NaN
2,5 years,NaN,8,7,NaN,NaN,NaN
2,6 years,NaN,9,7,NaN,NaN,NaN
2,7 years,NaN,10,7,NaN,NaN,NaN
2,8 years,NaN,11,7,NaN,NaN,NaN
2,9 years,NaN,12,7,NaN,NaN,NaN
2,10 to 14 years,NaN,13,NaN,NaN,NaN,NaN
2,10 years,NaN,14,13,NaN,NaN,NaN
2,11 years,NaN,15,13,NaN,NaN,NaN
2,12 years,NaN,16,13,NaN,NaN,NaN
2,13 years,NaN,17,13,NaN,NaN,NaN
2,14 years,NaN,18,13,NaN,NaN,NaN
2,15 to 19 years,NaN,19,NaN,NaN,NaN,NaN
2,15 years,NaN,20,19,NaN,NaN,NaN
2,16 years,NaN,21,19,NaN,NaN,NaN
2,17 years,NaN,22,19,NaN,NaN,NaN
2,18 years,NaN,23,19,NaN,NaN,NaN
2,19 years,NaN,24,19,NaN,NaN,NaN
2,20 to 24 years,NaN,25,NaN,NaN,NaN,NaN
2,20 years,NaN,26,25,NaN,NaN,NaN
2,21 years,NaN,27,25,NaN,NaN,NaN
2,22 years,NaN,28,25,NaN,NaN,NaN
2,23 years,NaN,29,25,NaN,NaN,NaN
2,24 years,NaN,30,25,NaN,NaN,NaN
2,25 to 29 years,NaN,31,NaN,NaN,NaN,NaN
2,25 years,NaN,32,31,NaN,NaN,NaN
2,26 years,NaN,33,31,NaN,NaN,NaN
2,27 years,NaN,34,31,NaN,NaN,NaN
2,28 years,NaN,35,31,NaN,NaN,NaN
2,29 years,NaN,36,31,NaN,NaN,NaN
2,30 to 34 years,NaN,37,NaN,NaN,NaN,NaN
2,30 years,NaN,38,37,NaN,NaN,NaN
2,31 years,NaN,39,37,NaN,NaN,NaN
2,32 years,NaN,40,37,NaN,NaN,NaN
2,33 years,NaN,41,37,NaN,NaN,NaN
2,34 years,NaN,42,37,NaN,NaN,NaN
2,35 to 39 years,NaN,43,NaN,NaN,NaN,NaN
2,35 years,NaN,44,43,NaN,NaN,NaN
2,36 years,NaN,45,43,NaN,NaN,NaN
2,37 years,NaN,46,43,NaN,NaN,NaN
2,38 years,NaN,47,43,NaN,NaN,NaN
2,39 years,NaN,48,43,NaN,NaN,NaN
2,40 to 44 years,NaN,49,NaN,NaN,NaN,NaN
2,40 years,NaN,50,49,NaN,NaN,NaN
2,41 years,NaN,51,49,NaN,NaN,NaN
2,42 years,NaN,52,49,NaN,NaN,NaN
2,43 years,NaN,53,49,NaN,NaN,NaN
2,44 years,NaN,54,49,NaN,NaN,NaN
2,45 to 49 years,NaN,55,NaN,NaN,NaN,NaN
2,45 years,NaN,56,55,NaN,NaN,NaN
2,46 years,NaN,57,55,NaN,NaN,NaN
2,47 years,NaN,58,55,NaN,NaN,NaN
2,48 years,NaN,59,55,NaN,NaN,NaN
2,49 years,NaN,60,55,NaN,NaN,NaN
2,50 to 54 years,NaN,61,NaN,NaN,NaN,NaN
2,50 years,NaN,62,61,NaN,NaN,NaN
2,51 years,NaN,63,61,NaN,NaN,NaN
2,52 years,NaN,64,61,NaN,NaN,NaN
2,53 years,NaN,65,61,NaN,NaN,NaN
2,54 years,NaN,66,61,NaN,NaN,NaN
2,55 to 59 years,NaN,67,NaN,NaN,NaN,NaN
2,55 years,NaN,68,67,NaN,NaN,NaN
2,56 years,NaN,69,67,NaN,NaN,NaN
2,57 years,NaN,70,67,NaN,NaN,NaN
2,58 years,NaN,71,67,NaN,NaN,NaN
2,59 years,NaN,72,67,NaN,NaN,NaN
2,60 to 64 years,NaN,73,NaN,NaN,NaN,NaN
2,60 years,NaN,74,73,NaN,NaN,NaN
2,61 years,NaN,75,73,NaN,NaN,NaN
2,62 years,NaN,76,73,NaN,NaN,NaN
2,63 years,NaN,77,73,NaN,NaN,NaN
2,64 years,NaN,78,73,NaN,NaN,NaN
2,65 to 69 years,NaN,79,NaN,NaN,NaN,NaN
2,65 years,NaN,80,79,NaN,NaN,NaN
2,66 years,NaN,81,79,NaN,NaN,NaN
2,67 years,NaN,82,79,NaN,NaN,NaN
2,68 years,NaN,83,79,NaN,NaN,NaN
2,69 years,NaN,84,79,NaN,NaN,NaN
2,70 to 74 years,NaN,85,NaN,NaN,NaN,NaN
2,70 years,NaN,86,85,NaN,NaN,NaN
2,71 years,NaN,87,85,NaN,NaN,NaN
2,72 years,NaN,88,85,NaN,NaN,NaN
2,73 years,NaN,89,85,NaN,NaN,NaN
2,74 years,NaN,90,85,NaN,NaN,NaN
2,75 to 79 years,NaN,91,NaN,NaN,NaN,NaN
2,75 years,NaN,92,91,NaN,NaN,NaN
2,76 years,NaN,93,91,NaN,NaN,NaN
2,77 years,NaN,94,91,NaN,NaN,NaN
2,78 years,NaN,95,91,NaN,NaN,NaN
2,79 years,NaN,96,91,NaN,NaN,NaN
2,80 to 84 years,NaN,97,NaN,NaN,NaN,NaN
2,80 years,NaN,98,97,NaN,NaN,NaN
2,81 years,NaN,99,97,NaN,NaN,NaN
2,82 years,NaN,100,97,NaN,NaN,NaN
2,83 years,NaN,101,97,NaN,NaN,NaN
2,84 years,NaN,102,97,NaN,NaN,NaN
2,85 to 89 years,NaN,103,NaN,NaN,NaN,NaN
2,85 years,NaN,104,103,NaN,NaN,NaN
2,86 years,NaN,105,103,NaN,NaN,NaN
2,87 years,NaN,106,103,NaN,NaN,NaN
2,88 years,NaN,107,103,NaN,NaN,NaN
2,89 years,NaN,108,103,NaN,NaN,NaN
2,90 years and over,NaN,109,NaN,NaN,NaN,NaN
2,90 years,NaN,110,109,NaN,NaN,NaN
2,91 years,NaN,111,109,NaN,NaN,NaN
2,92 years,NaN,112,109,NaN,NaN,NaN
2,93 years,NaN,113,109,NaN,NaN,NaN
2,94 years,NaN,114,109,NaN,NaN,NaN
2,95 years,NaN,115,109,NaN,NaN,NaN
2,96 years,NaN,116,109,NaN,NaN,NaN
2,97 years,NaN,117,109,NaN,NaN,NaN
2,98 years,NaN,118,109,NaN,NaN,NaN
2,99 years,NaN,119,109,NaN,NaN,NaN
2,100 years,NaN,120,109,NaN,NaN,NaN
2,101 years,NaN,121,109,NaN,NaN,NaN
2,102 years,NaN,122,109,NaN,NaN,NaN
2,103 years,NaN,123,109,NaN,NaN,NaN
2,104 years,NaN,124,109,NaN,NaN,NaN
2,105 years,NaN,125,109,NaN,NaN,NaN
2,106 years,NaN,126,109,NaN,NaN,NaN
2,107 years,NaN,127,109,NaN,NaN,NaN
2,108 years,NaN,128,109,NaN,NaN,NaN
2,109 years,NaN,129,109,NaN,NaN,NaN
2,110 years and over,NaN,130,109,NaN,NaN,NaN
3,Both sexes,NaN,1,NaN,NaN,NaN,NaN
3,Males,NaN,2,1,NaN,NaN,NaN
3,Females,NaN,3,1,NaN,NaN,NaN
4,Number of survivors at age x (lx),NaN,16,NaN,NaN,2,NaN
4,Number of deaths between age x and x+n (dx),NaN,17,NaN,NaN,3,NaN
4,Death probability between age x and x+n (qx),NaN,18,NaN,NaN,4,NaN
4,Margin of error associated with the death probability (m.e.(qx)),NaN,19,NaN,NaN,5,NaN
4,Probability of survival between age x and x+n (px),NaN,20,NaN,NaN,6,NaN
4,Number of life years lived between age x and x+n (Lx),NaN,21,NaN,NaN,7,NaN
4,Cumulative number of life years lived beyond age x (Tx),NaN,22,NaN,NaN,8,NaN
4,Life expectancy (in years) at age x (ex),NaN,23,NaN,NaN,9,NaN
4,Margin of error associated with the life expectancy (m.e.(ex)),NaN,24,NaN,NaN,10,NaN

In [120]:
metadata0.note

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Note
Note ID
2                     Number of persons in an initial cohort of 100,000 live births who are still alive at the beginning of each subsequent age interval. The number of survivors decreases as age increases, under the effect of mortality. It is possible to compute, from the number of survivors, probabilities of survival between two ages. For example, if the number of survivors is 99,297 at age 10 and 98,935 at age 20, the probability of surviving from age 10 to age 20 is 98,935 / 99,297, that is, 0.99635.
3                                                                                                                                                                                                                                                                                                                                                                                                                Number of deaths which occur in each age interval among the initial cohort of 100,000 live births at age 0.
4                                                                                                                                                                                                                                                                                                  Probability that a person of age x dies before reaching age x plus n. The value n is equal to 1 in the case of complete life tables (single years of age) and 5 in the case of abridged life tables (5-years age groups).
5                                                                                                                                                                     Margin of error associated with the death probability. For example, a margin of error of 0.00020 for a death probability at age 0 of 0.00556 enables the construction of a 95% confidence interval with lower and upper limits of 0.00536 and 0.00576. In other words, the death probability is precise within a range of 0.00020, 19 times out of 20.
6                                                                                                                                                                                                                                                                                                       Probability that a person of age x survives up to year x plus n. The value n is equal to 1 in the case of complete life tables (single years of age) and 5 in the case of abridged life tables (5-years age groups).
7        Number of life years lived by persons between age x and x plus n. The value n is equal to 1 in the case of complete life tables (single years of age) and 5 in the case of abridged life table (5-years age groups). Life years lived are also considered as the "stationary population" of the life table. Except for ages from 0 to 4 where a separation factor is computed (see the document <a href="http://www5.statcan.gc.ca/olc-cel/olc.action?ObjId=84-538-X&ObjType=2&lang=en&limit=0">Methods for Cons...
8                                                                                                                                                                                                                                                                                                                                                                                                                   Total number of life years lived by persons of age x and all those included in subsequent age intervals.
9                                                                                                                                                                                                                                                                                                                                        Average number of years remaining to be lived by persons surviving to age x if these persons would experience, during their life, the mortality observed over the reference period.
10                                                                                                                                                                                                                                                           Margin of error associated with the life expectancy at age x. For example, a margin of error of 0.2 on a life expectancy at birth of 81.9 years enables the construction of a 95% confidence interval with lower and upper limits of 81.7 years and 82.1 years.
11       The major visual difference between the complete and abridged life tables lies in the age groupings for which the estimates have been produced. In complete life tables, there is only one age value per row, which indicates the exact age for the number of survivors, the cumulative number of life years lived and the life expectancy. For the number of deaths, death and survival probabilities, as well as the number of life years lived, the interval in the life table represents the interval betwee...
12       Complete life tables, by single years of age and sex, are available for Canada as a whole and for nine provinces: Newfoundland and Labrador, Nova Scotia, New Brunswick, Quebec, Ontario, Manitoba, Saskatchewan, Alberta and British Columbia (Table : 39-10-0007-01). \n\nFor Prince Edward Island, Yukon, the Northwest Territories and Nunavut, abridged life tables were computed, that is by 5-year age groups and sex. The population size of this province and the three territories were too small to a...
13                                                                                                                                                                                                                                                                                                                  This table has been archived. For Canada and all provinces except Prince Edward Island, please consult table 13-10-0114. For Prince Edward Island and the territories, please refer to table 13-10-0140.