In [1]:
from collections import OrderedDict
from pandas import DataFrame
import pandas as pd
import numpy as np

table = OrderedDict((
    ("Item", ['Item0', 'Item0', 'Item1', 'Item1']),
    ('CType',['Gold', 'Bronze', 'Gold', 'Silver']),
    ('USD',  ['1$', '2$', '3$', '4$']),
    ('EU',   ['1€', '2€', '3€', '4€'])
))
d = DataFrame(table)

In [2]:
d

    Item   CType USD  EU
0  Item0    Gold  1$  1€
1  Item0  Bronze  2$  2€
2  Item1    Gold  3$  3€
3  Item1  Silver  4$  4€

In [9]:
d.pivot(index='Item', columns='CType')

     CType   Item
USD  Bronze  Item0     2$
             Item1    NaN
     Gold    Item0     1$
             Item1     3$
     Silver  Item0    NaN
             Item1     4$
EU   Bronze  Item0     2€
             Item1    NaN
     Gold    Item0     1€
             Item1     3€
     Silver  Item0    NaN
             Item1     4€
dtype: object